<div class="page-title">
    <h1>EDIT PROFILE</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1">
    
    </div>
    <div class="col -md-10 text-center">
      <%# <h1 class="font-weight-bold pt-5">プロフィール編集画面 <%= resource_name.to_s.humanize </h1> %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field pt-3">
          <%= f.label :プロフィール画像 %><br>
          <%= f.file_field :image, autofocus: true, autocomplete: "image" %>
        </div>

        <div class="field pt-3">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="field pt-3">
          <%= f.label :プロフィール %><br />
          <%= f.text_area :profile, autofocus: true, class: "form-control" %>
        </div>

        <div class="field pt-3">
          <%= f.label :Eメール %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field pt-3">
          <%= f.label :新しいパスワード %> <i>（変更しない場合は空欄にしてください）</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </div>

        <div class="field pt-3">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field pt-3">
          <%= f.label :現在のパスワード %> <i>（更新するにはパスワードを入力してください）</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions pt-3">
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="cancel">
        <h3>アカウントを削除する</h3>
        <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-secondary" %></p>
      </div>
      <%= link_to "戻る", :back %>
    </div>
    
    <div class="col-md-1">
    
    </div>
  </div>
</div>